/gradle
/gradlew
/client/build
.gradle
/.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
/client/client.iml
.DS_Store
/core/core.iml
/pulltorefresh/build
/pulltorefresh/pulltorefresh.iml
/util/build
/util/util.iml
/web/build
/web/web.iml
/web_plugin/build
/web_plugin/web_plugin.iml
/web_xwalk/web_xwalk.iml
/web_xwalk/build
/xwalk_lib/xwalk_lib.iml
/xwalk_lib/build
/core/build
/demo/build
/demo/demo.iml
/build
/captures
*.iml