<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lin.demo">

    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 以下是静默安装apk所需要到权限 -->
    <!--
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    -->


    <!-- 支付宝所需权限  开始 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 支付宝所需权限  结束 -->


    <!-- 微信支付所需权限  开始 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 微信支付所需权限  结束 -->


    <!-- 微客服所需权限  开始 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- 微客服所需权限  结束 -->
    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->


             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".PullToRefresh"
            android:label="@string/title_activity_pull_to_refresh" />
        <activity
            android:name=".MergeActivity"
            android:label="@string/title_activity_merge" />
        <activity
            android:name=".MainActivity2Activity"
            android:label="@string/title_activity_main_activity2" />
        <activity
            android:name=".TabbarActivity"
            android:label="@string/title_activity_tabbar" />

        <service
            android:name="lin.core.log.LogService"
            android:enabled="true" />
        <service android:name="lin.core.UpdateService" />

        <activity
            android:name=".TichTextAciivity"
            android:label="@string/title_activity_tich_text_aciivity" />
        <activity
            android:name=".FitChartActivity"
            android:label="@string/title_activity_fit_chart" />
        <activity
            android:name=".ImagesActivity"
            android:label="@string/title_activity_images"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity
            android:name=".ControlsActivity"
            android:label="@string/title_activity_controls"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity
            android:name=".GroupListActivity"
            android:label="@string/title_activity_group_list"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity android:name=".WebViewActivity" />
        <activity
            android:name=".BindingActivity"
            android:label="@string/title_activity_binding"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity
            android:name=".main.MainActivity"
            android:label="demo"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabbar.TabbarActivity"
            android:label="@string/title_activity_tabbar"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity android:name=".nav.NavActivity" />
        <activity
            android:name="lin.core.NavActivity"
            android:theme="@style/AppTheme.OverlapSystemBar"/>
        <activity
            android:name=".controls.SwiperefreshActivity"
            android:label="@string/title_activity_swiperefresh"
            android:theme="@style/AppTheme.OverlapSystemBar"></activity>


        <activity
            android:name=".ptr.PtrDefaultActivity"
            android:label="ptr default"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
            android:name=".ptr.PtrListActivity"
            android:label="ptr list"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
            android:name=".ptr.PtrRecyclerActivity"
            android:label="ptr recycler"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
            android:name=".ptr.PtrScrollActivity"
            android:label="ptr scroll"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
            android:name=".controls.ReViewActivity"
            android:label="review"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
            android:name=".controls.ViewPagerActivity"
            android:label="view pager"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
            android:name=".controls.SwipeActivity"
            android:label="swipe"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
            android:name=".form.FormActivity"
            android:label="form"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
            android:name=".core.ViewInheritActivity"
            android:label="view inherit">
        </activity>
        <activity
            android:name=".binding.BindViewActivity"
            android:label="bind view"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
            android:name=".binding.BindViewHolderActivity"
            android:label="bind view holder"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
            android:name=".core.ViewHolderActivity"
            android:label="view holder"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
            android:name=".controls.SwitchButtonActivity"
            android:label="view holder"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
    </application>

</manifest>